<ion-header>
  <app-barra-superior title="Detalhes do Produto"></app-barra-superior>
</ion-header>

<ion-content class="ion-padding">
  <app-cart-fab></app-cart-fab>
  <ion-card>
    <ion-img [src]="item?.imageUrl || 'assets/imgs/prod.jpg'"></ion-img>
    <ion-card-header>
      <ion-card-title>{{ item?.nome }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ item?.preco | currency }}
    </ion-card-content>
    <ion-button expand="block" fill="outline" (click)="addToCart(item)">Adicionar ao carrinho</ion-button>
  </ion-card>

</ion-content>