<ion-header>
  <app-barra-superior title="Produtos"></app-barra-superior>
</ion-header>

<ion-content class="ion-padding">
  <app-cart-fab></app-cart-fab>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-list>
    <ion-item button *ngFor="let item of items" (click)="goToProdutoDetail(item.id)">
      <ion-thumbnail slot="start">
        <img [src]="item.imageUrl || 'assets/imgs/prod.jpg'">
      </ion-thumbnail>
      <ion-label>
        <ion-text color="primary">
          <h2>{{ item.nome }}</h2>
        </ion-text>
        <ion-text color="secondary">
          <p>{{ item.preco | currency }}</p>
        </ion-text>
      </ion-label>

    </ion-item>
  </ion-list>
</ion-content>