<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
      <!-- <ion-menu-toggle> -->
      <!-- <ion-button>
          <ion-icon name="menu"></ion-icon>
        </ion-button> -->
      <!-- <ion-button (click)="goToCategorias()">
        <ion-icon name="arrow-undo"></ion-icon>
      </ion-button> -->
      <!-- </ion-menu-toggle> -->
    </ion-buttons>
    <ion-back-button slot="end" icon="arrow-undo"></ion-back-button>
    <ion-title>Produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button size="small" href="cart">
      <ion-icon name="cart"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list>
    <ion-item button *ngFor="let item of items" (click)="goToProdutoDetail(item.id)">
      <ion-thumbnail slot="start">
        <img [src]="item.imageUrl || 'assets/imgs/prod.jpg'">
      </ion-thumbnail>
      <ion-label>
        <ion-text color="primary">
          <h2>{{ item.nome }}</h2>
        </ion-text>
        <ion-text color="secondary">
          <p>{{ item.preco | currency }}</p>
        </ion-text>
      </ion-label>

    </ion-item>
  </ion-list>
</ion-content>