<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <span class="avatar">
    <ion-img [src]="cliente?.imageUrl || 'assets/imgs/avatar-blank.png'"></ion-img>
  </span>
  <h2 class="ion-text-center">{{ cliente?.nome }}</h2>
  <p class="ion-text-center">{{ cliente?.email }}</p>
</ion-content>