<ion-header>
  <app-barra-superior title="Profile"></app-barra-superior>
</ion-header>

<ion-content class="ion-padding">
  <span class="avatar">
    <ion-img [src]="cliente?.imageUrl || 'assets/imgs/avatar-blank.png'"></ion-img>
  </span>
  <h2 class="ion-text-center">{{ cliente?.nome }}</h2>
  <p class="ion-text-center">{{ cliente?.email }}</p>

  <ion-card>
    <ion-card-header>
      Enviar imagem de perfil
    </ion-card-header>
    <ion-item *ngIf="picture">
      <img [src]="picture">
    </ion-item>
    <ion-item>
      <ion-button expand="block" (click)="takePicture()" [disabled]="cameraOn">Camera</ion-button>
    </ion-item>
  </ion-card>

</ion-content>