<ion-header>
  <app-barra-superior title="Carrinho"></app-barra-superior>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item button *ngFor="let item of items">
      <ion-thumbnail slot="start">
        <img [src]="item.produto.imageUrl || 'asserts/imgs/prod.jpg'">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <ion-text color="primary">
          <h2>{{ item.produto.nome }}</h2>
        </ion-text>
        <p>Valor unitário: {{ item.produto.preco | currency }}</p>
        <span>
          <ion-text color="secondary">
            <ion-icon class="icon" name="remove-circle" (click)="decreaseQuantity(item.produto)"></ion-icon>
            <span class="text">{{ item.quantidade }}</span>
            <ion-icon class="icon" name="add-circle" (click)="increaseQuantity(item.produto)"></ion-icon>
          </ion-text>
        </span>
      </ion-label>
      <ion-icon name="trash" slot="end" color="danger" (click)="removeItem(item.produto)"></ion-icon>
    </ion-item>
    <ion-item *ngIf="total() > 0" lines="none" class="text-negrito">
      <ion-text>Total:</ion-text>
      <ion-text slot="end">{{ total() | currency }}</ion-text>
    </ion-item>
    <ion-item *ngIf="total() <= 0" lines="none" class="text-negrito">
      <ion-text>Seu carrinho está vazio.</ion-text>
    </ion-item>
  </ion-list>
  <ion-button expand="block" (click)="navegateToCategorias()">Continuar comprando</ion-button>
  <ion-button *ngIf="total() > 0" expand="block" color="secondary" (click)="checkout()">Finalizar pedido</ion-button>
</ion-content>